@import "front-page/contact";
@import "front-page/languages";
@import "front-page/usps";
.home{
    section{
        padding-top: 2rem;
        padding-bottom: 2rem;

    }
}

html {
	background-color: pink;
}